@charset "UTF-8";

:root {
    --main-green: #19847B;
    --second-green: #7FC5C5;
    --cplatinum: #DEE5E5;
    --cbrown: #7E6551;
    --cblush: #F1E4E8;
    --cdark: #191516;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-145deg, white, var(--cblush),); 
}

.negrito {
    font-weight: bold;
}

p {
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.link {
    color: inherit;
    text-decoration: underline;
    transition: all 100ms ease-in-out;
}

h1 {
    color: var(--cdark);
    text-shadow: 1px 1px 3px var(--cbrown);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
}

.hidden {
    display: none;
}

@media (min-width: 1024px) {
    
    .hidden-desktop, div#facebook-button, div#instagram-button, div#whatsapp-button {
        display: none;
    }
    
}

@media (max-width: 1023px) {
    div.hidden-phone {
        display: none;
    }
}

@media (max-width: 768px) {
    div.hidden-hidden {
        display: none;
    }
}
